<div class='all'>
  <header class='header'>
    <div class='header-title-container'>
      <h1>Red Black Binary Search Tree</h1>
    </div>
    <div class='refresh-button-container'>
      <button id='refresh-button' class='refresh-button'>Refresh Data</button>
    </div>
  </header>

  <div class='displayContainer'>
    <div class='leftBar'>
      <h4>Nodes</h4>
      <div id='leftBar-Content' class='leftBar-content'></div>
    </div>
    <div class='visualizerWrapper'>
      <div id='visualizer' class='visualizer'></div>
    </div>
  </div>

  <div id='spinnerWrapper' class='spinnerWrapper'>
    <div class='loading'>Loading...</div>
    <div class='spinner'></div>
  </div>

</div>